@page "/chargen"
@using Un1ver5e.Web.III.Shared
@using Un1ver5e.Web.III.Shared.Arklens
@inject HttpClient Http

<h3>Генератор персонажей</h3>

<p>
	<label for="NameInput">Введите имя</label><br />
	<input id="NameInput" type="text" @bind=@character.Name/>
</p>

<p>
	<label for="GenderSelect">Выберите пол</label><br />
	<select id="GenderSelect" @onchange=@(e => character.SetGender(e.Value as string))>
		@GetDummySelectOption()
		@foreach(Gender g in Gender.AllGenders)
		{
			<option value=@g.Name>@g.ToString()</option>
		}
	</select>
</p>

<p>
	<label for="RaceSelect">Выберите расу</label><br />
	<select id="RaceSelect" @onchange=@(e => character.SetRace(e.Value as string))>
		@GetDummySelectOption()
		@foreach (Race r in Race.BasicRaces)
		{
			<option value=@r.Name>@r.ToString()</option>
		}
	</select>
</p>

<p>
	<label for="ClassSelect">Выберите класс</label><br />
	<select id="ClassSelect" @onchange=@(e => character.SetClass(e.Value as string))>
		@GetDummySelectOption()
		@foreach (Class c in Class.AllClasses)
		{
			<option value=@c.Name>@c.ToString()</option>
		}
	</select>
</p>

@foreach (Stat stat in character.EnumerateStats())
{
	<p>
		@stat.Emoji 
		<button disabled="@(!stat.CanDecrease)" @onclick=@(e => stat.TryDecrease())>-</button>
		<b>@stat.Value</b> @stat.Modifyer
		<button disabled="@(!stat.CanIncrease)" @onclick=@(e => stat.TryIncrease())>+</button>
	</p>
}

<button @onclick=@(async _ => await ReloadSvg())>🔁</button><br />
@((MarkupString)(characterSvg ?? "<p>🕐...</p>"))

@code {
	private string? rawSvg;
	private string? characterSvg;
	private Character character = new();

	protected override async Task OnInitializedAsync()
	{
		rawSvg = await Http.GetStringAsync("Svg");
		await ReloadSvg();
	}

	private MarkupString GetDummySelectOption() => (MarkupString)"<option selected disabled hidden>---</option>";
	private Task ReloadSvg() 
	=> Task.Run(() =>
	{
		characterSvg = null;
		characterSvg = character.FillSvgFile(rawSvg ?? string.Empty);
	});
}


