@page "/chargen"
@using Un1ver5e.Web.III.Shared
@using Un1ver5e.Web.III.Shared.Arklens
@inject HttpClient Http

<h3>Генератор персонажей</h3>

<p>
	<label for="NameInput">Введите имя</label><br />
	<input id="NameInput" type="text" @bind=@character.Name/>
</p>

<p>
	<CharacterElementSelectComponent 
		Name="Выберите пол"
		Character=@character
		Options=@Gender.All>
	</CharacterElementSelectComponent>
</p>

<p>
	<CharacterElementSelectComponent 
		Name="Выберите расу"
		Character=@character
		Options=@Race.All>
	</CharacterElementSelectComponent>
</p>

<p>
	<CharacterElementSelectComponent 
		Name="Выберите класс"
		Character=@character
		Options=@Class.All>
	</CharacterElementSelectComponent>
</p>

@foreach (Stat stat in character.EnumerateStats())
{
	<p>
		@stat.Emoji 
		<button disabled="@(!stat.CanDecrease)" @onclick=@(e => stat.TryDecrease())>-</button>
		<b>@stat.Value</b> @stat.Modifyer
		<button disabled="@(!stat.CanIncrease)" @onclick=@(e => stat.TryIncrease())>+</button>
	</p>
}

<button @onclick=@(async _ => await ReloadSvg())>🔁</button><br />
@((MarkupString)(characterSvg ?? "<p>🕐...</p>"))

@code {
	private string? rawSvg;
	private string? characterSvg;
	private Character character = new();

	protected override async Task OnInitializedAsync()
	{
		rawSvg = await Http.GetStringAsync("Svg");
		await ReloadSvg();
	}

	private Task ReloadSvg() 
	=> Task.Run(() =>
	{
		characterSvg = null;
		characterSvg = character.FillSvgFile(rawSvg ?? string.Empty);
	});
}


